<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categorylist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h1>Category list</h1>
		<table class="table table-striped">
			<tr>
				<th>Categories</th>
			</tr>
			<tr th:each = "category : ${categories}">
				<td th:text = "${category.name}"></td>
			</tr>
		</table>
		<p></p>
		<a class="btn btn-success" href="/addcategory">Add category</a>
	</div>
</body>
</html>